* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

section {
  padding: 5rem 1.5rem;
}

.container {
  width: min(1100px, 90%);
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

#hero {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#socials {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-top: 5rem;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media(min-width:768px) {
  .about-content {
    flex-direction: row;
    align-items: center;
  }
}